.attachments {
  $attachments-height: $module-size * 6;
  .display {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: $attachments-height;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    @include checker-bg();

    & > * {
      //flex-grow: 1;
      //flex-shrink: 0;
      max-width: calc(100vw - 2 * #{$module-size});
      height: $attachments-height;
      width: calc(attr(data-ratio) * #{$attachments-height});
      position: relative;
      margin-right: $module-size;

      &:last-child {
        width: 100vw;
        max-width: 100vw;
      }
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  .toolbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    .controls {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 2;

      .caption {
        padding: 0 0 0 $module-size/2;
        line-height: $module-size;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .video-player {
        display: flex;
        flex-flow: row nowrap;

        .button:before{
          box-shadow: none!important;
        }
      }
    }
  }
}