@function no-unit($n) {
  @return $n / ($n * 0 + 1)
}

$button-icon-color: rgb(69, 69, 69);
$button-height: $module-size;
$ico-size: $button-height/4*1.5;
$one-px: 1rem / no-unit($baseline);
$ico-line-w: $one-px;
$ico-color: $button-icon-color;
$diagonal-factor: 1.4142135624; // diagonal of a square 1x1 (1.4142135624 is a square root of 1*1+1*1)

@mixin plus( $size:$button-height, $line-w:$one-px, $rotate: 0deg, $plus:'true') {
  $plus-shift-x: - $size/2;
  $plus-shift-y: - $line-w/2;

  &:before,
  &:after {
    width: $size;
    height: $size;
    border: none;
    top: 50%;
    left: 50%;
    transition: all 0.25s;
  }

  &:before {
    border-top: $line-w solid $button-icon-color;
    transform: translate($plus-shift-x, $plus-shift-y) rotate($rotate);
    transform-origin: top;
  }
  &.small:before {
    transform: translate($plus-shift-x, $plus-shift-y) rotate($rotate);
  }
  @if ($plus == 'true') {
    &:after {
      border-left: $line-w solid $button-icon-color;
      transform: translate($plus-shift-y, $plus-shift-x) rotate($rotate);
      transform-origin: left;
    }
  }
}

@mixin button-arrowhead( $rotate: 0, $size: $ico-size, $line-w: $ico-line-w, $color:$button-icon-color) {
  $arr-size: $size / $diagonal-factor;
  $arr-line-w: $line-w;
  $x-shift: -75%;
  $y-shift: -25%;
  @if $rotate < 0 {
    $x-shift: -50%;
    $y-shift: -62.5%;
  }
  @if $rotate > 0 {
    $x-shift: -50%;
    $y-shift: -62.5%;
  }
  @if $rotate > 179 {
    $x-shift: -37.5%;
    $y-shift: -37.5%;
  }
  $rotate: $rotate + 45deg;

  &:before {
    width: $arr-size;
    height: $arr-size;
    border-right: $arr-line-w solid $button-icon-color;
    border-top: $arr-line-w solid $button-icon-color;
    top: 50%;
    left: 50%;
    transform: translate($x-shift, $y-shift) rotate($rotate);
    transition: transform 0.15s;
  }
}

@mixin arrowhead(
  $direction: right,
  $size: $ico-size,
  $line-w: $ico-line-w,
  $color: $button-icon-color,
  $clear-after: true
) {
  $arr-size: $size / $diagonal-factor;
  $offset: 35%;
  $degree: 135deg;

  @if $direction == left {
    $degree: -45deg;
  } @else if $direction == top {
    $degree: 45deg;
  } @else if $direction == bottom {
    $degree: 225deg;
  }

  &:before {
    width: $arr-size;
    height: $arr-size;
    border: none;
    border-left: $line-w solid $button-icon-color;
    border-top: $line-w solid $button-icon-color;
    top: 50%;
    left: 50%;
    transform-origin: $offset $offset;
    transform: translate(-$offset, -$offset) rotate($degree);
    transition: transform 0.15s;
  }
  &.small:before {
    width: $arr-size * 0.65;
    height: $arr-size * 0.65;
  }
  @if $clear-after {
    &:after {
      content: none;
    }
  }
}

@mixin button-arrow( $size: $ico-size, $line-w: $ico-line-w, $color:$button-icon-color) {
  $x-shift: -50%;
  $y-shift: -50%;

  @include button-arrowhead(-90deg, $size, $line-w, $color);

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: $line-w;
    height: $size;
    border-left: $line-w solid $button-icon-color;
    top: 50%;
    left: 50%;
    transform: translate($x-shift, $y-shift);
  }
}

@mixin button-pause( $size: $ico-size, $line-w: $ico-line-w, $color:$button-icon-color) {
  $x-shift: -50%;
  $y-shift: -50%;

  &:before {
    width: $size / 2;
    height: $size;
    border-right: $line-w solid $color;
    border-left: $line-w solid $color;
    top: 50%;
    left: 50%;
    transform: translate($x-shift, $y-shift);
  }
}

@mixin button-content( $with-icon: true ) {
  position: absolute !important;
  font-size: $font-size-caption;
  font-weight: 300;
  font-style: normal;
  @if $with-icon == true {
    width: 100%;
    height: 100%;
  }
  @include centered();
}

@mixin button-icon($name:'', $size:$ico-size, $line-w:$ico-line-w) {
  &:before, &:after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
  }

  @if $name == plus {
    @include plus($size, $line-w)

  } @else if $name == plus-medium {
    @include plus($size, $one-px)

  } @else if $name == plus-large {
    @include plus($button-height, $one-px)

  } @else if $name == minus {
    @include plus($size, $line-w, 0deg, 'false');

  } @else if $name == cancel {
    @include plus($size, $line-w, 45deg);

  } @else if $name == up {
    @include button-arrow($size, $line-w)

  } @else if $name == down {
    @include button-arrow($size, $line-w);
    transform: rotate(180deg);

  } @else if $name == drop-down {
    @include arrowhead(bottom, $size * 0.8)

  } @else if $name == drop-down-open {
    @include arrowhead(top, $size * 0.8)

  } @else if $name == play {
    @include arrowhead(right, $size, 0.3rem, rgb(145, 145, 145));

  } @else if $name == pause {
    @include button-pause($size, 0.3rem, rgb(145, 145, 145));

  } @else if $name == stop {
    &:before {
      width: $size;
      height: $size;
      background: $button-icon-color;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  } @else if $name == arrow-right {
    @include arrowhead(right, $size);

  } @else if $name == arrow-left {
    @include arrowhead(left, $size);

  } @else if $name == arrow-open {
    @include arrowhead(bottom, $size);
  }
}

@mixin button($w: auto, $h: $button-height) {
  $min-w: $button-height;
  @if ($w != auto) {
    $min-w: $w;
  }
  display: block;
  box-sizing: border-box;
  min-width: $min-w;
  min-height: $h;
  width: $w;
  height: $h;
  line-height: $h;
  text-align: center;
  position: relative;
  color: $button-text-color;
  background: $bg-color;
  @if ($w == auto) {
    padding: 0 $module-size/2;
  }
  cursor: pointer;
  user-select: none;

  border-radius: 0;
  border: none;
  outline: none;

  &.narrow, &.small{
    min-width: $two-thirds;
    width: $two-thirds;
    padding: 0;
  }
  &.small{
    min-height: $two-thirds;
    height: $two-thirds;
  }

  i, .icon {
    @include button-content();
  }
}

.button, button {
  @include button();

  &.square {
    //width: $button-height;
  }
  &.secondary{
    background: transparent;
  }
  &.top, &.right{
    position: absolute;
  }
  &.top{
    top: 0;
  }
  &.right{
    right: 0;
  }
}

i, .icon {
  &.edit {
    &:after {
      content: 'Edit'
    }
  }
  &.change {
    &:after {
      content: 'Change'
    }
  }
  &.ok {
    &:after {
      content: 'OK'
    }
  }
  &.save {
    &:after {
      content: 'Save'
    }
  }
  &.cancel-text {
    &:after {
      content: 'Cancel'
    }
  }
  &.plus {
    @include button-icon(plus)
  }
  &.plus.medium {
    @include button-icon(plus-medium)
  }
  &.plus.large {
    @include button-icon(plus-large)
  }
  &.minus {
    @include button-icon(minus)
  }
  &.up {
    @include button-icon(up)
  }
  &.down {
    @include button-icon(down)
  }
  &.cancel {
    @include button-icon(cancel)
  }
  &.cancel-small, &.cancel.small {
    @include button-icon(cancel, $size: $ico-size * 0.65)
  }
  &.drop-down {
    @include button-icon(drop-down);
    &.open {
      @include button-icon(drop-down-open)
    }
  }
  &.arrow-right {
    @include button-icon(arrow-right);
    &.open{ @include button-icon(arrow-open) }
  }
  &.arrow-left {
    @include button-icon(arrow-left);
    &.open{ @include button-icon(arrow-open) }
  }
  &.play {
    @include button-icon(play)
  }
  &.pause {
    @include button-icon(pause)
  }
  &.stop {
    @include button-icon(stop)
  }
}
