main {
  margin-top: $module-size; // + $outline-width;
}

.text-block {
  padding: $module-size;
}

//.row{
//  display: flex;
//  flex-flow: row nowrap;
//
//  .row-header{
//    flex-grow: 1;
//  }
//}
.cell{
  @include hairline-border(true);
  background: $bg-color;
}

.wrap-content {
  display: flex;

  &:not(.grid) {
    flex-flow: row nowrap;
  }

  &.grid, &.wrap-forms {
    display: flex;
    flex-flow: row wrap;

    a {
      color: #292929;
    }
  }
  &.grid{
    padding: $module-size / 2;

    .grid-cell.button{
      //width: 100%;
      //height: 100%;
    }
  }

  .content {
    flex-grow: 1;
    padding: 0 $module-size/2 $module-size $module-size;

    h1{
      //margin: 0;
    }

    .by-string li{
        display: inline-block;
        &:not(:last-child):after{
          content: " \0026\00a0";
        }
      }
    .work-meta{
      color: #000;

      span:not(:last-child):after{
        content: "\2002|\2002";
      }
    }
  }
  .sidebar {
    width: 5 * $module-size;
  }
}

.item-wrap,
.grid-cell,
.grid-cell-placeholder,
.grid-cell.button{
  width: 100vw;
  height: 100vw;
  position: relative;

  @media (min-width: 500px) {
    width: calc((100vw - #{$module-size}) / 2);
    height: calc((100vw - #{$module-size}) / 2);
  }
  @media (min-width: 750px) {
    width: calc((100vw - #{$module-size}) / 3);
    height: calc((100vw - #{$module-size}) / 3);
  }
  @media (min-width: 1000px) {
    width: calc((100vw - #{$module-size}) / 4);
    height: calc((100vw - #{$module-size}) / 4);
  }
}

.item-image-wrap {
  overflow: hidden;
  position: absolute;
  width: calc(100% - #{$module-size});
  height: calc(100% - #{$module-size*1.5});
  @include centered(0, 50%);
  top: $module-size/2;

  img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.item-image {
  width: 100%;
  height: 100%;
}

.no-image {
  @include checker-bg-20($color: #4b4b4b, $size: $module-size/4)
}

.item-description {
  position: absolute;
  width: 100%;
  height: $module-size;
  bottom: 0;

  padding: $module-size / 8 $module-size / 2 0;

  span {
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-caption;
    color: $font-color;
    white-space: nowrap;
  }
  span.item-title {
    font-weight: 600;
    font-size: $font-size-body;
  }

}

iframe.work-preview {
  width: 100%;
  height: 100%;
}

.proportional-height {
  position: relative;
  height: 0;
  padding: 50% 0 0 0;
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  iframe, img {
    width: 100%;
    height: 100%;
  }
}

*:not(button).overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@import "attachments";
@import "sidebar";