.wrap-content{
	display: flex;
	flex-wrap: wrap;
}

.item-wrap {
	width: 25vw;
	height: 25vw;
	position: relative;
	overflow: hidden;
	background: $bg-color;
	@include grey-outline();

  @media (max-width: 1000px) {
		width: 33.333vw;
		height: 33.333vw;
	}
	@media (max-width: 750px) {
		width: 50vw;
		height: 50vw;
	}
	@media (max-width: 500px) {
		width: 100vw;
		height: 100vw;
	}
}

.item-image-wrap {
	position: relative;

	canvas{
		width: 100%;
		height: 100%;
	}
}

.item-image {
	width: 100%;
	height: 100%;
}

.no-image {
}

.item-content {
	position: absolute;
	bottom: 0;
	background: rgba(255,255,255,0.6);
	padding: 0.1em 0.3em;
}

.item-genre {
}

.item-title {
	color: $dark;
	clear: both;
	font-size: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	text-decoration: none;
	
	&:hover {
		color: $main2;
	}
	
	&:active {
		color: $main1;
	}
	
	@include media(3) {
		font-size: 15px;
	}
}

.nothing-found {
  float: left;
  width: 100%;
  font-size: 32px;
  margin: 0 0 30px 0;
  color: $dark;
}
