@use 'sass:math';
@use 'sass:color';

.v-select.px {
  font-family: font-family-of($work-sans) !important;
  cursor: unset;

  *{
    border-radius: 0!important;
    border: none!important;
  }
  .dropdown-toggle{
    flex-flow: column nowrap;
    align-items: start;
    padding: 0.5rem $two-thirds;

    & > input{
      width: calc(100% - #{$two-thirds});
      height: $two-thirds;
      line-height: $two-thirds;
      letter-spacing: $letter-spacing;
    }
  }

  .open-indicator {
    @include button($w: $two-thirds, $h: $two-thirds);
    @include button-icon(plus, math.div($module-size, 3));

    position: absolute !important;
    left: 0 !important;
    bottom: 0.5rem !important;
    pointer-events: all;
    cursor: pointer !important;
  }
  &.open .open-indicator{
    @include button-icon(cancel, math.div($module-size, 3));
  }

  .selected-tag{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    height: $two-thirds;
    line-height: $two-thirds;
    margin: 0;
    padding: 0 math.div($module-size, 4) 0 0;
    background: transparent;
    white-space: nowrap;

    .option:after{
      content: " ";
      white-space: pre;
    }

    button{
      display: inline-block;
      width: $two-thirds;
      height: $two-thirds;
      opacity: 0.3;
      min-height: 0;
      min-width: 0;
      font-weight: 300;
      margin-right: math.div($module-size, 8);

      &:before{
        content: none;
      }
      //&:before, &:after{
      //  opacity: 0.3;
      //}
    }
  }
  &.single {
    .open-indicator {
      @include button-icon(drop-down, math.div($module-size, 4));
    }
    &.open .open-indicator{
      @include button-icon(drop-down-open, math.div($module-size, 4));
    }
    button.clear {
      display: none;
    }
    .dropdown-toggle{
      display: block;
    }
    .selected-tag {
      padding-left: $two-thirds + math.div($module-size, 8);
      pointer-events: none;
    }
  }

  input,
  input[type="search"],
  input[type="search"]:focus,
  .selected-tag{
    min-height: auto;
    height: $two-thirds;
  }
  input[type="search"],
  input[type="search"]:focus,
  ul.dropdown-menu li{
    padding-left: $two-thirds + math.div($module-size, 8);
    a{
      padding-left:0;
    }
  }

  .focused{
    @include input-focused()
  }
  ul.dropdown-menu{
    //margin-top: -1px; // compencate fore a strange gap between the menu and the panel above
    padding: math.div($module-size, 4) 0 ;
    background: $bg-secondary-color;
    box-shadow: 1px 1px 0 0 #575757, -1px 1px 0 0 #575757;

    li{
      a{
        color: color.adjust($font-color, $alpha: -0.5);
      }
      &.active{ display: none }
      &.highlight{
        a {
          background: transparent;//($bg-secondary-color, 0.5%);
          color: $font-color;
        }
      }
    }
  }
}
.inline-select{
  $h: math.div($module-size, 2);
  font-size: $font-size-caption;
  height: $h;
  display: inline-block;
  margin-top: math.div(($two-thirds - $h), 2);
  position: relative;

  .dropdown-toggle{
    display: flex;
    flex-flow: row !important;
    padding: 0 !important;

    input[type="search"],
    input[type="search"]:focus {
      line-height: $h;
      height: $h;
      background: $bg-color;
      position: absolute;
      opacity: 0;
    }
    button.cancel{
      display: none;
    }
  }
  ul.dropdown-menu{
    padding: 0 0 0.5em 0!important;
    box-shadow: 0 0 0 1px #575757!important;
    z-index: 1;
    li {
      padding-left: 0 !important;
      a {
        padding: 0.5em 1em !important;
      }
    }
  }
  .selected-inline-tag{
    display: block;
    line-height: $h;
    pointer-events: none;
    cursor: pointer !important;
    padding: 0 math.div($module-size, 4);
    background: $bg-secondary-color;
    white-space: nowrap;
  }
  &.open {
    input[type="search"],
    input[type="search"]:focus {
      position: relative;
      opacity: 1;
      padding: 0 0 0 math.div($module-size, 4);
      z-index: 100;
    }
    button.cancel{
      @include button($h, $h);
      //@include button-icon(cancel, $module-size/6);
      order: 2;
      padding: 0;
      margin: 0;
      opacity: 1;
      z-index: 100;
      &:before, &:after{
        box-shadow: none;
      }
      .icon{
        opacity: 0.3;
        &.small{
          font-size: 80%;
        }
      }
    }
    .selected-inline-tag{
      display: none;
    }
  }
}
