@import "buttons";

$input-padding-x: $module-size / 8;
$input-padding-y: 0rem;

.button, button{
  &:not(.frameless) {
    @include hairline-border();
  }
}

input, textarea, .editable.with-submit{
  border: none;
  padding: $input-padding-y $input-padding-x;
  width: 100%;
  min-height: $module-size;
  max-width: 30rem;
  @include hairline-border();

  &:focus {
    outline: none;
    @include hairline-border(false, true, #000);
  }
}

.editable-with-submit{
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .editable {
    display: inline-block;
    word-break: break-all;
    max-width: initial;
    @include weider-then-phone {
      width: auto;
    }
    &:focus {
      /*background: red;*/
    }
  }
  .button {
    display: inline-block;
    position: relative;
    &.frameless{background: transparent}

    //vertical-align: middle;
  }
  .button-group {
    display: inline-block;
    vertical-align: middle;
    //flex-flow: row nowrap;
  }
}

.editable{
  width: auto;

  &:focus{
    outline: none;
  }
  &[contenteditable="true"]{
    position: relative;
      color: $interactive-color;
    &:after{
      content: '';
      position: absolute;
      width: calc(100% + #{$input-padding-x * 2});
      height: calc(100% + #{$input-padding-y * 2});
      min-height: $module-size;
      @include centered();
      z-index: -1;
      //border-bottom: 1px solid transparentize($interactive-color, 0.8);
      //background: pink;
    }
    &:focus:after{
      //border-bottom: 1px solid $interactive-color;
    }
  }
}

.badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  &.published {
    background: #42ff00;

    &:before {
      content: "";
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.my {
      background: #c6ff00;
    }
  }
}
