@import "buttons";

.button, button{
  &:not(.overlay) {
    @include hairline-border();
  }

}

input{
  border: none;
  box-shadow: 0 0 0 1px $button-icon-color;
  min-height: $module-size;

  @include on-retina(){
    //box-shadow: none;
  }
}

.badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  &.published {
    background: #42ff00;

    &:before {
      content: "";
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.my {
      background: #c6ff00;
    }
  }

  .dialog {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 10;

    & > * {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .bg {
      top: 0;
      left: 0;
      background: transparent; //transparentize($bg-color, 0.99);
    }
    .dialog-box {
      background: $bg-color;
      max-width: 30rem;
      max-height: 30rem;
      @include centered();
      @include grey-outline();
    }

    .dialog-header {
      display: flex;
      justify-content: space-between;
      height: $module-size;
      width: 100%;

      .button {
        background: $bg-color;
      }
    }

    .dialog-body {
      width: 100%;
      @include centered(0, -3%);

      &.button-editor {
        .medium-editor-element {
        }
      }
    }

    .dialog-buttons {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      height: $module-size;
      bottom: 0;

      //button{  }
      /* one item */
      button:first-child:nth-last-child(1) {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

}
