$form-padding: $header-height;



.wrap-forms, form {
  position: relative;
  width: 100%;
  padding: $form-padding;

  form {
    padding: 0;
  }

  *:first-child{
    margin-top: 0;
  }
}

input, button, label {
  display: block;
  height: $header-height;
  padding: 0 1em;
  outline: 0;
  border: none;
  box-shadow: 0 0 0 $outline-width $outline-color;
  background: $bg-color;
}

label {
  width: 20%;
  float: left;
  line-height: $header-height;
  background: darken($bg-color, 1);
}

input {
  width: 80%;
}

input[type=submit],
input[type=cancel],
button {
  width: auto;
  position: relative;
  min-width: $header-height * 2;
  box-shadow: none;
  top: $outline-width;
  left: - $outline-width;
  background: #f5f5f5;

  &.right {
    float: right;
    right: $outline-width;
  }
}

input[type=checkbox]{
  width: $header-height;
  position: relative;

  &[checked]:after{
    content: '';
    display: block;
    //border-radius: 50%;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    background: #292929;
  }
}
