@import "buttons";
@mixin focused(){
  outline: none;
  box-shadow: 0 0 0 1px #575757;
  z-index: 300;
}

#form-artwork{
  max-width: $content-max-width + $module-size * 2.5;
}
form {
  margin: $module-size 0;
  max-width: calc(100% - 5.5 * #{$module-size});
  flex-grow: 1;

  section {
    margin-bottom: $module-size / 2;
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    min-height: $module-size;
    background: $bg-color;

    & > * {
      margin: 0;
      @include hairline-border(true, all, $color: rgb(197, 197, 197));
      background: $bg-color;

      &:first-child {
        width: $module-size * 2.5;
        flex-shrink: 0;
        //background: $bg-secondary-color;
      }
    }

    input#title {
      font-size: $font-size-h1 * 0.75;
    }
    label {
      padding: $module-size / 4 $module-size / 4;
      text-align: right;
      font-size: $font-size-caption;

    }
    .field {
      padding: 0;
      min-width: 10 * $module-size;
      flex-grow: 1;

      & > input,
      & > textarea {
        width: 100% !important;
        height: 100%;
        min-height: $module-size !important;
        padding: 0 $module-size / 4;
        &.attachment {
          padding: 0;
        }
      }
    }
    input, textarea, select {
      position: relative;
      border: none;
      box-shadow: none;
      padding: 0 $module-size / 4;
      margin: 0;
      display: block;
      width: 100%;

      &:focus {
        @include focused()
      }
    }
    textarea {
      padding-top: $module-size / 4;
    }
  }

  header{
    min-height: $module-size;
    .tab{
      line-height: $module-size;
      padding: 0 $module-size/4;
    }
  }
}

$two-thirds: $module-size / 3 * 2;

.v-select.px {
  font-family: font-family-of($work-sans) !important;
  cursor: unset;

  *{
    border-radius: 0!important;
    border: none!important;
  }
  .dropdown-toggle{
    display: flex;
    flex-flow: column nowrap;

    & > input{
      width: calc(100% - #{$two-thirds});
      height: $two-thirds;
      line-height: $two-thirds;
    }
  }

  .open-indicator {
    @include button($w: $two-thirds, $h: $two-thirds);
    @include button-icon(plus, $module-size/3);

    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    pointer-events: all;
    cursor: pointer !important;
  }
  &.open .open-indicator{
    @include button-icon(cancel, $module-size/3);
  }

  .selected-tag{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    height: $two-thirds;
    line-height: $two-thirds;
    margin: 0;
    padding: 0 $module-size/4 0 0;
    background: transparent;

    .option:after{
      content: " ";
      white-space: pre;
    }

    button{
      order: -1;
      display: inline-block;
      width: $two-thirds;
      height: $two-thirds;
      opacity: 0.3;
      min-height: 0;
      min-width: 0;
      font-weight: 300;
      margin-right: $module-size/8;

      &:before{
        content: none;
      }
    }
  }

  input,
  input[type="search"],
  input[type="search"]:focus,
  .selected-tag{
    min-height: auto;
    height: $two-thirds;
  }
  input[type="search"],
  input[type="search"]:focus,
  ul.dropdown-menu li{
    padding-left: $two-thirds + $module-size/8;
    a{
      padding-left:0;
    }
  }

  .focused{
    @include focused()
  }
  ul.dropdown-menu{
    padding: $module-size/4 0 ;
    //background: $bg-secondary-color;
    box-shadow: 1px 1px 0 0 #575757, -1px 1px 0 0 #575757;

    li{
      a{
        color: transparentize($font-color, 0.5);
      }
      &.active{ display: none }
      &.highlight{
        a {
          background: transparent;//($bg-secondary-color, 0.5%);
          color: $font-color;
        }
      }
    }
  }
}
.inline-select{
  $h: $module-size/2;
  font-size: $font-size-caption;
  height: $h;
  display: inline-block;
  margin-top: ($two-thirds - $h)/2;
  position: relative;

  .dropdown-toggle{
    display: flex;
    flex-flow: row !important;

    input[type="search"],
    input[type="search"]:focus {
      line-height: $h;
      height: $h;
      background: $bg-color;
      width: 0!important;
      padding: 0;
    }
  }
  ul.dropdown-menu{
    padding: 0 0 0.5em 0!important;
    box-shadow: 0 0 0 1px #575757!important;
    li {
      padding-left: 0 !important;
      a {
        padding: 0.5em 1em !important;
      }
    }
  }
  .selected-inline-tag{
    display: block;
    line-height: $h;
    pointer-events: none;
    cursor: pointer !important;
    padding: 0 $module-size/4;
    background: $bg-secondary-color;

  }
  &.open {
    input[type="search"],
    input[type="search"]:focus {
      width: 100%;
      min-width: 10em;
      padding: $module-size/4;
      z-index: 3000;
    }
    .selected-inline-tag{
      display: none;
    }
  }
}