@use '../hidpi' as *;

/** Mixin stack for hairline borders on HiDPI screens
*  [1] Sets a standard border for all devices
*  [2] Matches devices with a HiDPI screen resolution
*  [3] Creates a pseudo-element before the element that has the border
*  [4] Resets the border on the original element
*  [5] Sets the desired border on the pseudo-element
*  [6] Positions the pseudo-element absolutely
*  [7] Positions the original element relatively if is not yet positioned (set to false if
       your original element is already positioned)
*  [8] Scales the pseudo-element up to twice the size of the original element via width and height
*  [9] Scales the pseudo-element back down to the correct size via CSS Transform
        > This is where the magic happens: the border is scaled down to 0.5 CSS pixels which will render
          as 1 device pixel on HiDPI screens
*/
/** Helper mixin for relative positioning if variable is set when invoking the caller mixin */
@mixin position-relative($positionRelative) {
  @if $positionRelative {
    position: relative;
  }
}

@mixin border-side($side: all, $style: solid, $color: rgba(0,0,0,0.1)) {
  //box-shadow: 0 0 0 1px $color;
  box-shadow: 0 0 0 1px $color;
}

@mixin hairline-border-base($positionRelative) {
  @include on-retina() { // [2]
    @include position-relative($positionRelative); // [7]

    &:before { // [3]
      content: "";
      position: absolute; // [6]
      top: 0;
      left: 0;
      width: 200%; // [8]
      height: 200%;
      transform: scale(0.5); // [9]
      transform-origin: 0 0;
      box-sizing: border-box;
      pointer-events: none;
    }
  }
}

@mixin hairline-border( $positionRelative: false, $side: all, $color: rgba(0,0,0,0.1), $bg-color: #fff ) {
  @include hairline-border-base($positionRelative);

  @include border-side($side, solid, $color); // [1]

  //@include on-retina() {
  //  box-shadow: none; // [4]
  //  border: none;
  //
  //  &:before {
  //    @include border-side($side, solid, $color); // [5]
  //  }
  //}
}

/** Helper mixin in case you need to reset the border */
@mixin border-hidpi-reset() {
  border-width: 0;

  @include on-retina() {
    &:before {
      display: none;
    }
  }
}
