header.main {
  position: fixed;
  width: 100%;
  height: $module-size;
  top: 0;
  padding: 0;
  background: transparent;
  z-index: 1000;

  .wrap {
    display: flex;
  }

  .px-logo {
    position: relative;
    display: block;
    width: $module-size;
    height: $module-size;
    padding: 0 !important;
    background: url("/static/img/pxflux-logo-X-ico.png") no-repeat;
    background-size: 0;

    @include weider-then-phone() {
      width: round($module-size * 2.5);
      background: url("/static/img/pxflux-logo-Xb.png") no-repeat;
      background-size: 0;
    }
    canvas {
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translate(0%, -50%);

      @include weider-then-phone() {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .label.beta {
      display: block;
      position: absolute;
      bottom: -15px;
      width: 100%;
      font-size: 10px;
      line-height: 15px;
      font-weight: 400;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      background: rgba(255,255,255,0.6);
      padding: 0 5px;

      &:after {
        content: "alpha";
      }

      @include weider-then-phone() {
        width: auto;
        //line-height: 1;
        //background: transparent;
        padding: 0 7px 0 5px;
        //bottom: 0;
        right: 0;
        text-align: right;
        &:after {
          content: "alpha"
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
  .right {
    flex-grow: 2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .user-photo {
    $size: $module-size;
    width: $size;
    height: $size;
    position: absolute;
    top: 0;
    left: 0;
  }
  .button, button {
    box-shadow: none;
  }
}
