@use 'sass:math';
@use 'sass:color';
@use '../vars' as *;
@use '../mixins' as *;

$pop-arrow-size: math.div($module-size, 8);
$pop-bg-color: color.adjust($bg-color, $alpha: -0.1);
$pop-padding: $two-thirds;

.popper {
  box-sizing: border-box;
  width: calc(100vw - #{math.div($module-size, 4)});
  @include wider-than-phone {
    width: auto;
    min-width: 5 * $module-size;
  }
  background-color: $pop-bg-color;
  color: $font-color;
  text-align: center;
  padding: 0;
  display: block;
  border-radius: 0;
  position: relative;
  font-size: $font-size-caption;
  font-weight: normal;
  border: 1px solid #000;
  z-index: 200000;
  box-shadow: 0 0 10px 5px color.adjust($bg-secondary-color, $alpha: -0.1);

  .button.cancel {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;

    .icon, i {
      &:before, &:after {
        border-color: $button-text-color !important;
      }
    }
  }
  .row{
    display: block;
    width: 100%;
    //padding: $pop-padding;
  }
  header {
    position: relative;
    height: $module-size;
    text-align: center;
    font-size: $font-size-body;
    line-height: $module-size;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  footer {
    height: $module-size;
    padding: 0;
    float: none;
    &, .button {
      background: transparent;
    }
  }
  label{
    margin-top: math.div($module-size, 8);
    padding: 0;
    width: auto;
    height: math.div($module-size, 2);
    min-height: math.div($module-size, 2);
    line-height: math.div($module-size, 2);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;

    &.first{
      margin-top: 0;
    }
  }
  .description {
    display: block;
    padding: 0;
    margin-top: math.div($module-size, 4);
    text-align: start;
  }

}

.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: $pop-arrow-size;
}

.popper[x-placement^="top"] {
  margin-bottom: $pop-arrow-size;
}

.popper[x-placement^="top"] .popper__arrow {
  border-width: $pop-arrow-size $pop-arrow-size 0 $pop-arrow-size;
  border-color: $bg-color transparent transparent transparent;
  bottom: -$pop-arrow-size;
  left: calc(50% - #{$pop-arrow-size});
  margin-top: 0;
  margin-bottom: 0;
}

.popper[x-placement^="bottom"] {
  margin-top: $pop-arrow-size;
}

.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 $pop-arrow-size $pop-arrow-size $pop-arrow-size;
  border-color: transparent transparent $bg-color transparent;
  top: -$pop-arrow-size;
  left: calc(50% - #{$pop-arrow-size});
  margin-top: 0;
  margin-bottom: 0;
}

.popper[x-placement^="right"] {
  margin-left: 5px;
}

.popper[x-placement^="right"] .popper__arrow {
  border-width: $pop-arrow-size $pop-arrow-size $pop-arrow-size 0;
  border-color: transparent $bg-color transparent transparent;
  left: -$pop-arrow-size;
  top: calc(50% - #{$pop-arrow-size});
  margin-left: 0;
  margin-right: 0;
}

.popper[x-placement^="left"] {
  margin-right: 5px;
}

.popper[x-placement^="left"] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent $bg-color;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
