@use '../vars' as *;
@use '../mixins' as *;
@use 'hairline' as *;

//
.keypad{
  display: flex;
  flex-flow: wrap;
  margin-bottom: $font-size-body;
  width: 100%;
  max-width: $keypad-button-size * 3;

  .button-box{
    width: $keypad-button-size;
    height: $keypad-button-size;
    position: relative;

    &>*{
      width: 100%;
      height: 100%;
    }

    .button{
      background: $bg-color;
      text-align: center;
    }
    .button.ready{
      background: #f5f5f5;

      &>*{
        display: block;
        position: absolute;
        left: 50%;
        line-height: 1.2em;
      }
      *:first-child{
        font-size: 120%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      *:nth-child(2){
        font-size: 70%;
        width: 90%;
        bottom: 0.4em;
        transform: translate(-50%);
      }
    }
  }
}
.remote-button-options-box {
  width: auto;
  padding: 0 $two-thirds;
  @include wider-than-phone{
    width: 4.5 * $module-size + 2 * $options-padding;
  }

  .key-code-display {
    $code-h: 1.5 * $module-size;
    position: relative;
    height: $code-h;
    line-height: $code-h * 0.9;
    font-size: 200%;
    color: transparent;
    padding: 0;
    text-shadow: 0 0 0 $button-text-color;
    background: $bg-secondary-color;

    span{
      display: block;
      position: absolute;
      bottom: 0;
      font-size: $font-size-caption;
      line-height: 1em;
      left: 50%;
      transform: translate(-50%);
      white-space: nowrap;
      padding: 0.6rem 0;
      text-shadow: 0 0 0 rgba(0,0,0,0.45);
    }
    &:focus{
      outline: none;
      box-shadow: 0 0 0 2px $button-text-color;
    }

    &:empty:before {
      content: attr(placeholder);
      display: block; /* For Firefox */
    }
  }
}
