@use '../vars' as *;
@use '../mixins' as *;
@use 'buttons' as *;

.video-preview-box{
  position: relative;
  height: 0;
  padding-bottom: 50%; // will be set by a component to mirror attachment aspect ratio
  top: 0;
  left: 0;
}

.video-box{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .vimeo-player {
    height: 100%;
    width: 100%;

    iframe {
      margin: 0;
      border: none;
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      @include centered();
    }
  }
  .button{
    @include centered();
    width: $module-size;
    height: $module-size;
    border-radius: 50%;
    background: rgba(255,255,255,0.4);

    $ico-size: 2.8rem;
    $ico-line-w: 0.3rem;
    $icon-color: #000;

    &.play{
      @include button-arrowhead(0, $ico-size, $ico-line-w, $icon-color);
      opacity: 1;
      transition: opacity 100ms ease-in-out 0ms;
    }
    &.pause{
      @include button-pause($ico-size, $ico-line-w, $icon-color);
      opacity: 0;
      transition: opacity 200ms ease-in-out 1000ms;
    }
  }
}
