.video-box{
  position: relative;
  //background: $outline-color;
  height: 100%;
  //max-height: $module-size * 8;
  width: 100%;

  iframe{
    margin: 0;
    border: none;
    display: block;
    width: 100%;
    @include centered();
  }

  .button{
    @include centered();
    width: $module-size;
    height: $module-size;
    border-radius: 50%;
    background: rgba(255,255,255,0.4);

    $ico-size: 2.8rem;
    $ico-line-w: 0.3rem;
    $ico-color: #000;

    &.play{
      @include button-arrowhead(0, $ico-size, $ico-line-w, $ico-color);
    }
    &.pause{
      @include button-pause($ico-size, $ico-line-w, $ico-color);
    };
  }
}