@use 'sass:math';
@use 'sass:color';
@use "work-channel" as *;

.tabs {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  color: color.adjust($font-color, $alpha: -0.85);

  > * {
    position: relative !important;
    padding: 0 math.div($module-size, 4);
    line-height: $module-size;
    cursor: pointer;
  }
  .active {
    color: $font-color;
    background: $bg-secondary-color;
    box-shadow: -1px 0 0 $outline-color, 1px 0 0 $outline-color;
    border-top: 1px solid $outline-color;
  }
  > .button{ background: transparent}
}

.channels-tab-bar{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: $module-size;

  .tab{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $module-size;
    cursor: pointer;
    *{
      color: $link-color;
    }
    &.active{
      border: 1px solid $outline-color;
      border-radius: 50%;
    }
  }
}

.setup-editor {
  width: 100vw;
  background: $bg-secondary-color;
  @include hairline-border();

  > .row:first-child{
    @include channel-editor-panel-width();
    padding: 0 $channel-padding-small;
    @include weider-then-iphon5{
      padding: 0 $channel-padding-normal;
    }
    @include weider-then-phone{
      padding: 0;
    }
  }
  .scene {
    //min-height: $module-size * 5;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    width: 100%;
    overflow-x: scroll;
  }
}

