@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600&subset=latin-ext');

* {
	box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}
body {
  font-size: 1.6rem;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: $normal-font-wight;
	overflow-y: scroll;
	background: #fff;

	&.dark {
		background: #AAAA;
	}

	&.open-modal {
		overflow: hidden;
	}
}

html {
	-webkit-text-size-adjust: 100%;
}

input {
	-webkit-appearance: none !important;
}

h1, h2, h3, h4{
  display: block;
  font-weight: $normal-font-wight;
}
h2 {
  margin: 2em 0 0.5em;
}
input,
a {
	outline: 0
}

ul, ol{
  list-style: none;
  padding: 0;
}

button, .button {
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

iframe{
  border: 0;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}