* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	overflow-y: scroll;
	background: #fff;
	
	&.dark {
		background: #AAAA;
	}
	
	&.open-modal {
		overflow: hidden;
	}
}

html {
	-webkit-text-size-adjust: 100%;
}

input {
	-webkit-appearance: none !important;
}

.wrap,
.wrap-content {
}

.wrap-content {

}

input,
a {
	outline: 0
}

::selection {
	background: rgba($main1, .99);
	color: #fff;
}
