@use 'sass:math';
@use 'vars';
@use 'megatype/megatype' as megatype;
@use 'hidpi';
@use 'mixins';

//@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500');
//@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,600&subset=latin-ext');
// enable responsive baseline & type scaling.
// increases root font size from each breakpoint, starting from the size specified in the rootsizes below
$baseline-scaling: false;
// enable formal baseline grid
// snaps all type to the baseline grid
$baseline-snap: true;

// map for flexible retrieval of breakpoint info
$breakpoint-map: (
  0: (
    start: 0px,
    max: 420px,
    rootsize: vars.$baseline
  ),
  1: (
    start: 480px,
    max: 560px,
    rootsize: vars.$baseline
  ),
  2: (
    start: 768px,
    max: 840px,
    rootsize: vars.$baseline
  ),
  3: (
    start: 980px,
    max: 1080px,
    rootsize: vars.$baseline
  ),
  4: (
    start: 1280px,
    max: 1440px,
    rootsize: vars.$baseline
  )
);
// Set cap height to set to the baseline.
// Here are some cap-height sizes to get you started:
// Georgia: 0.66, Times / Times New Roman: 0.65, Palatino: 0.52
// Lucida Grande: 0.72, Helvetica: 0.65, Helvetica Neue: 0.71, Verdana: 0.76, Tahoma: 0.76
$work-sans: (
  font-family: '"Work Sans", sans-serif',
  font-size: vars.$font-size-body,
  regular: vars.$font-normal-weight,
  cap-height: 0.66
);
$roboto-mono: (
  font-family: '"Roboto Mono", monospace',
  font-size: vars.$font-size-body,
  regular: vars.$font-normal-weight,
  cap-height: 0.75
);
$overpass-mono: (
  font-family: '"Overpass Mono", monospace',
  font-size: vars.$font-size-body,
  regular: vars.$font-normal-weight,
  cap-height: 0.7
);

// debug baseline grid
$debug-grid: true;
// debug typeset elements, their cap height, and baseline
$debug-type: true;
// show some information about the current breakpoint and it's config
$debug-breakpoints: false;

@include megatype.megatype();

html {
  //font-size: 62.5%; // 1rem = 10px
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  //font-family: megatype.font-family-of($work-sans);
  font-family: megatype.font-family-of($roboto-mono);
  font-size: vars.$font-size-body;
  font-weight: vars.$font-normal-weight;

  letter-spacing: vars.$letter-spacing;
  overflow-y: scroll;
  overflow-x: hidden;
  color: vars.$font-color;
  background: vars.$dark-bg url('/img/grid-cell-3px-o10@1x.png') repeat 0 0;
  background-size: 3px;
  @include hidpi.on-retina {
    background: vars.$dark-bg url('/img/grid-cell-3px-o10@2x.png') repeat 0 0;
    background-size: 3px;
  }

  &.open-modal {
    overflow: hidden;
  }
}

input {
  -webkit-appearance: none !important;
}

h1, h2, h3, h4 {
  display: block;
  font-weight: 300;
}

h2 {
  margin: 2em 0 0.5em;
}

h3, .h3 {
  font-size: vars.$h3-font-size;
}

h1 {
  @include megatype.typeset($roboto-mono, vars.$h1-font-size, $lineheight: 4rem, $leader: 1rem, $trailer: 1rem);
  margin-bottom: math.div(vars.$module-size, 2);
}

.h1 {
  @include mixins.h-style
}

h1, .h1, .h3 {
  color: #000;
}

.caption {
  font-size: vars.$font-size-caption;
  font-weight: 300;
  color: #696969;
  -webkit-font-smoothing: subpixel-antialiased;
}

// Paragraph.
p {
  //font-family: font-family-of($work-sans);
  @include megatype.typeset($work-sans, vars.$font-size-body, $lineheight: 2, $leader: 1.5, $trailer: 1rem);

  &:first-child {
    //@include megatype.typeset($work-sans, $font-size-body, $lineheight: 2, $leader: 0, $trailer: 1rem);
  }
  &.caption {
    //font-family: font-family-of($work-sans);
    @include megatype.typeset($work-sans, vars.$font-size-caption, $lineheight: 2, $leader: 1.5, $trailer: 1.5);
  }
}

ul.by-string {
  //font-family: font-family-of($work-sans);
  @include megatype.typeset($work-sans, vars.$font-size-body, $lineheight: 2, $leader: 1.5, $trailer: 0);
}

a {
  outline: none;
  text-decoration: none;
  color: vars.$link-color;
}

ul, ol {
  list-style: none;
  padding: 0;
}

button, .button {
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

iframe {
  border: 0;
}

button {
  border-radius: 0;
  &:focus {
    outline: none;
  }
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.accent {
  font-weight: 600;
}
