@use 'sass:math';

$debug-allow: false;

///////////////
$base-size: 12;
///////////////

$baseline: $base-size * 1px;
$module-size: 4rem;
$two-thirds: math.div($module-size, 3) * 2;
$three-quarters: math.div($module-size, 4) * 3;

$font-size-body: 1.16666rem; // 14px
$font-size-caption: 1rem;
$h1-font-size: 3rem;
$h1-line-height: 4rem;
$h3-font-size: 1.6rem;

$font-normal-weight: 300;
$letter-spacing: 0.01em;

$content-max-width: 54rem;

$logo-bg-color: #00ff60;
$logo-extrude-color: #9dabac;
$logo-extrude-color-light: #ffbe00;
$logo-extrude-color-shadow: #40004f;

$bg-color: #fff;
$dark-bg: #ffffff;
$bg-semi-transparent-color: rgba(255, 255, 255, 0.8);
$bg-secondary-color: #fafafa;
$font-color: #595959;
$link-color: #0063c5;
$line-color: rgba(0, 0, 0, 0.1);

$font-color-on-dark: #d6d5d5;
$button-text-color: $link-color;
$interactive-color: $link-color;

$audio-color: #f8ba00;
$video-color: #73fdea;

$thumb-size: $module-size * 5;
$keypad-button-size: $module-size * 2;

$options-padding: $two-thirds;

$outline-color: rgba(0, 0, 0, 0.1);
$outline-width: math.div(1rem, $base-size);


