$debug-allow: false;

///////////////
$base-size: 12;
///////////////

$baseline: $base-size * 1px;
$module-size: 4rem;
$two-thirds: $module-size / 3 * 2;
$three-quarters: $module-size / 4 * 3;

$font-size-body: 1.33rem;
$font-size-caption: 1rem;
$font-size-h1: 3rem;

$font-normal-wight: 400;
$letter-spacing: 0.01em;

$content-max-width: 54rem;

$bg-color: #fff;
$bg-secondary-color: #fafafa;
$font-color: #323232;
$link-color: hsl(207, 100%, 38%);
$line-color: #909090;

$thumb-size: $module-size * 5;
$keypad-button-size: $module-size * 2;

$outline-color: rgb(237, 237, 237);
$outline-width: 1rem / $base-size;

$dark-bg: #1a1a1a;
$font-color-on-dark: #d6d5d5;
$button-text-color: #00a2ff;

$audio-color: #f8ba00;
$video-color: #73fdea;

