$debug-allow: false;

///////////////
$base-size: 12;
///////////////

$baseline: $base-size * 1px;
$module-size: 4rem;

$font-size-body: 1.33rem;
$font-size-caption: 1rem;
$font-size-h1: 3rem;

$font-normal-wight: 400;

$content-max-width: 54rem;

$bg-color: #fff;
$bg-secondary-color: #fafafa;
$font-color: #323232;
$link-color: hsl(207, 100%, 38%);
$line-color: #909090;

$thumb-size: $module-size * 5;
$keypad-button-size: $module-size * 2;

$outline-color: rgb(237, 237, 237);
$outline-width: 1rem / $base-size;
